<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    stopOnFailure="false"
    stopOnError="false"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Salary Calculator">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
